page-login {

//Default Farbe: #51a7e8, #488aff

// ion-item {
//   border: none!important;
// }
// .item-inner {
//   border: none!important;
// }



// .input-wrapper {
//   border: 2px solid red;
// }

//floating text
.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #7bd152;
}
//input unterer Strich
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #7bd152!important;
  -webkit-box-shadow: inset 0 -1px 0 0 #7bd152!important;
  box-shadow: inset 0 -1px 0 0 #7bd152!important;
}
//input unterer Strich
.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: #7bd152!important;
  -webkit-box-shadow: inset 0 -1px 0 0 #7bd152!important;
  box-shadow: inset 0 -1px 0 0 #7bd152!important;
}

#login-inputs {
  width: 30%;

}
#inp-email {
  background-color: blue;
}

#inp-password {

}


#log {
  background-color: #f3f3f3!important;
  color: #7bd152!important;
  width: 20%!important;
}

#reg {
  background: none!important;
  border: none!important;
  box-shadow: none!important;
  width: 10%;
  color: black;
}
#reg:hover{
  color: #7bd152;
}





}
