<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  <ion-title>login</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
  <div id="app-box">

    <ion-list id="login-inputs">
      <ion-item >
        <ion-input type="text" placeholder="Username"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>Passwort</ion-label>
        <ion-input id="inp-password" type="password"></ion-input>
      </ion-item>
    </ion-list>

      <div padding>
        <button id="log" ion-button block (click)="signin()">Einloggen</button>
      </div>

      <div padding>
        <button id="reg" ion-button block (click)="signup()">Registrieren</button>
      </div>

  </div>


</ion-content>
