<ion-header>
  <ion-navbar>
  <ion-title>Login Test</ion-title>
  <ion-buttons start>
  <button ion-button icon-only (click)="logoutme()">
  <ion-icon name='power'></ion-icon>
  </button>
  </ion-buttons>
  </ion-navbar>
 </ion-header>

 <ion-content padding class="buttons-components-page">
  <h2>Welcome to Ionic!</h2>
  <p>
  This starter project comes with simple tabs-based layout for apps
  that are going to primarily use a Tabbed UI.
  </p>
  <p>
  Take a look at the <code>src/pages/</code> directory to add or change tabs,
  update any existing page or create new pages.
  </p>
    <div padding>
      <button ion-button (click)="logoutme()">Logout</button>
    </div>
 </ion-content>
