<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>welcome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <button ion-button block (click)="goLogin()">Zum Login</button>
  </div>

  <div padding>
    <button ion-button block (click)="goSignup()">Zum Registrieren</button>
  </div>
</ion-content>
